{{ attach_library("lslater_net/error") }}

{% if page.header or page.primary_menu or page.secondary_menu %}
  <header id="header" class="site-header" data-drupal-selector="site-header" role="banner">

  {# Gets fixed by JavaScript at wide widths. #}
  <div class="site-header__fixable" data-drupal-selector="site-header-fixable">
    <div class="site-header__initial">
    <button class="sticky-header-toggle" data-drupal-selector="sticky-header-toggle" role="switch" aria-controls="site-header__inner" aria-label="{{ 'Sticky header'|t }}" aria-checked="false">
      <span class="sticky-header-toggle__icon">
      <span></span>
      <span></span>
      <span></span>
      </span>
    </button>
    </div>

    {# Needs to extend full width so box shadow will also extend. #}
    <div id="site-header__inner" class="site-header__inner" data-drupal-selector="site-header-inner">
    <div class="container site-header__inner__container">

      {{ page.header }}

      {% if page.primary_menu or page.secondary_menu %}
      <div class="mobile-buttons" data-drupal-selector="mobile-buttons">
        <button class="mobile-nav-button" data-drupal-selector="mobile-nav-button" aria-label="{{ 'Main Menu'|t }}" aria-controls="header-nav" aria-expanded="false">
        <span class="mobile-nav-button__label">{{ 'Menu'|t }}</span>
        <span class="mobile-nav-button__icon"></span>
        </button>
      </div>

      <div id="header-nav" class="header-nav" data-drupal-selector="header-nav">
        {{ page.primary_menu }}
        {{ page.secondary_menu }}
      </div>
      {% endif %}
    </div>
    </div>
  </div>
  </header>
{% endif %}

{{ page.messages }}

{% set error_wording='(404) Page not found' %}

<main style='color: red; font-weight: bold; font-size: 2em;'>
  <h1 class='spin'>{{ error_wording }}</h1>
  <marquee direction='up' style='text-align: center;' height='50' scrollamount='{{ random(1,50) }}'>{{ error_wording }}</marquee>
  <marquee direction='left' height='50' scrollamount='{{ random(1,50) }}'>{{ error_wording }}</marquee>
  <marquee direction='down' width='98%' height='200' behavior='alternate' scrollamount='{{ random(1,50) }}' style='border:none'>
    <marquee behavior='alternate' scrollamount='{{ random(1,50) }}'>
      {{ error_wording }}
    </marquee>
  </marquee>
  <marquee direction='right' height='50' scrollamount='{{ random(1,50) }}'>{{ error_wording }}</marquee>
  <marquee direction='down' style='text-align: center;' height='50' scrollamount='{{ random(1,50) }}'>{{ error_wording }}</marquee>
</main>

<footer class="site-footer">
  <div class="site-footer__inner container">
    {{ page.footer_top }}
    {{ page.footer }}
    {{ page.footer_bottom }}
  </div>
</footer>