/* Desktop CSS */
/*@media (min-width : 900px) {*/
  /*.right-menu-container > input[type=checkbox]:checked ~ label#burger-menu {}*/
  /*input:focus, label:focus, .right-menu-container > input[type=checkbox]:focus ~ label#burger-menu {
    border: 5px solid yellow !important;
  }*/

  .warning {
    color: red;
  }

  .button, .btn {
    padding: 10px;
    background-color: #c1002b;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
  }
  .button:hover {
    background-color: #b1002b;
  }
  .left-button {
    float: left;
  }
  .float-right {
    float: right;
  }
  /*.content form {
    background-color: #fff;
    padding: 10px 10px 50px 10px;
    border: solid 1px #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }*/


  .text-field {
    margin: 20px 0px;
  }
  .text-field > label {
    width: 100%;
  }
  .text-field > input[type="text"] {
    width: calc(100% - 12px);
    padding: 5.5px;
  }
  .text-field > input[type="password"] {
    width: calc(100% - 12px);
    padding: 6px;
  }

  input[type="text"] {
    background-color: #fff;
    border-color: #e5e5e5;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
  }
  input[type="password"] {
    background-color: #fff;
    border-color: #e5e5e5;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
  }


  .nav-hide-container > input[type=checkbox], .nav-hide-container > label {
    /* Hide the nav dropdown when enough space is available */
    display:none;
  }

  #account-section {
    background-color: #f5f5f5;
    padding-bottom: 15px;
  }
  #account-section > span.account-heading {
    display: inline-block;
    width: 100%;
    padding: 15px;
  }
  #account-section > span {
    display: inline-block;
    width: 100%;
  }
  #account-section > span > a {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 15px;
    text-decoration: none;
    color: blue;
  }
  #account-section input[type='text'],
  #account-section input[type='password'] {
    padding: 6px;
    margin: 5px 0px 5px 5%;
    width: calc(90% - 12px);
  }
  #account-section input[type='button'] {
    float: right;
    margin-right: 5%;
  }
  #account-section #register {
    float: right;
    width: auto;
    margin-right: 20px;
  }
  #account-section > input[type='checkbox'] {
    display: none;
  }
  #account-section > label {
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    background: none;
    border: 0;
    border-radius: 0px;
    background-color: #fff;
    width: 100%;
    padding: 15px 0 15px 30px;
    border: 0px;
    cursor: pointer;
    text-align: left;
    color: #222;
  }
  #account-section > input[type=checkbox]:checked ~ label {
    background-color: #c1002b;
  }

  .right-menu-container > input[type=checkbox]:focus ~ label {
    border: 5px solid red !important;
  }

  .right-menu-container > input[type=checkbox]:checked ~ label#burger-menu {
    background: #eee;
  }

  .right-menu {
    /* Hide the popout menu by default */
    background-color: #000;
    position: fixed;
    right: -250px;
    top: 91px;
    height: calc(100vh - 172px);
    height: 100vh;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0px 0px 1px 1px;
    width: 250px;
    transition: all 0.1s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
    /*transition-timing-function: cubic-bezier(0, 0, 0, 2);*/
  }

  .right-menu-container > input[type=checkbox]:checked ~ .right-menu {
    /* Show the popout menu when activated */
    right: 0px;
    box-shadow: -2px 3px 8px 1px rgba(0, 0, 0, 0.1);
  }
  .right-menu-container > input[type=checkbox] {
    display: block;
    visibility: none;
    float: right;
    opacity: 0;
  }
  .right-menu-container > label {
    float: right;
    height: 20px;
    width: 20px;
    margin-top: 20px;
    background-size: cover;
    cursor: pointer;
    border: 5px solid #fff;
  }
  .right-menu-container > #burger-menu {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  .right-menu-container > #burger-menu > div {
    width: 30px;
    height: 4px;
    margin: 7px 5px;
    background-color: #c1002b;
    border-radius: 1px;
  }
body {
  background-color: #222;
  color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

header#header {
  width: 100%;
  left: 0;
  background-color: #222;
  border: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 0 0 1px;
}

#header.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-form {
  font-family: inherit;
  float: right;
  width: 40%;
  margin-right: calc(30% - 65px);
  margin-left: auto;
  margin-top: 25px;
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
}
.content .search-form {
  padding: 0px;
  background: #f9f9f9;
  border: none;
  margin: 100px 0px 0px 0px;
  width: 100%;
}

#search-button {
  cursor: pointer;
  float: left;
  padding: 5.5px;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #c1002b;
  border-radius: 0px 5px 5px 0px;
  border-left: 0px;
  background-size: 70% 70%;
  background-position: center;
  background-color: #c1002b;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2260%22%20viewBox%3D%220%200%2060%2060%22%20preserveAspectRatio%3D%22xMinYMid%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%3E%3Cpath%20d%3D%22M57.88%2C56.43%2C44.48%2C41.69a24.52%2C24.52%2C0%2C1%2C0-2.18%2C2.17L55.61%2C58.5a1.54%2C1.54%2C0%2C0%2C0%2C1.14.5%2C1.49%2C1.49%2C0%2C0%2C0%2C1-.4%2C1.53%2C1.53%2C0%2C0%2C0%2C.14-2.16ZM4.79%2C25.48a21.4%2C21.4%2C0%2C1%2C1%2C21.4%2C21.4h0A21.44%2C21.44%2C0%2C0%2C1%2C4.79%2C25.48Z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}
#search-button:hover {
  background-color: #eee;
}
#search-button:focus {}

input[type="text"].search-bar {
  background-color: #fff;
  float: left;
  padding: 9px;
  height: 20px;
  width: calc(100% - 40px - 18px - 2px);
  border: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.075);
}

input[type="text"].search-bar:focus {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.075);
}
.search-bar:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

img#logo {
  float: left;
  margin: 15px;
  margin-left: 3%;
  background-image: url("/includes/resources/images/tux-ghost.png");
  width: 60px;
  height: 60px;
}






ul#nav {
  margin: 0px;
  margin-top: 15px;
  width: 100%;
  background-color: #222;
  padding: 0px;
  float: left;
}

ul#nav > li {
  list-style: none;
  float: left;
}

.nav-link {
  display: inline-block;
  background: none;
  border: 0;
  border-radius: 0px;
  background-color: #fff;
  width: 100%;
  padding: 15px 0 15px 30px;
  border: 0px;
  border-style: solid;
  border-color: #e5e5e5;
  cursor: pointer;
  text-align: left;
  border-radius: 2px;
  color: #222;
}
.nav-link {
  color: #222;
  text-decoration: none;
}
.nav-link:hover {
  background-color: #eee;
}
.nav-button {
  width: 100%;
}












.nav-dropdown{
  width: 100%;
}
.nav-dropdown > input[type=checkbox] {
    display: none;
}
.nav-dropdown > label {
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  display: inline-block;
  background: none;
  border: 0;
  border-radius: 0px;
  background-color: #fff;
  width: 100%;
  padding: 15px 0 15px 30px;
  border: 0px;
  cursor: pointer;
  text-align: left;
  color: #222;
}
.nav-dropdown > label:hover {
  background-color: #eee;
}
.nav-dropdown > ul {
    /*position: fixed;*/
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
  border: 0px;
  background-color: #f5f5f5;
  max-height: 0px;
  width: 100%;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
}
.nav-dropdown > ul > li > a {
  display: inline-block;
  padding: 15px 0 15px 30px;
  text-decoration: none;
  color: #222;
  width: 100%;
}
.nav-dropdown > ul > li > a:hover {
  background-color: #eee;
}
.nav-dropdown > input[type=checkbox]:checked ~ label {
    background-color: #c1002b;
  color: #fff;
}
.nav-dropdown > input[type=checkbox]:checked ~ ul {
  max-height: 200px;
}





















.footer-buffer {
  width: 0px;
  min-height: calc(100vh - 212px);
  float: left;
  position: static;
  margin-bottom: auto;
}

.container {
  margin-top: 91px;
  position: static;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  max-width: 1700px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1300px;
  padding: 10px;
  background-color: #222;
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
  border: #222;
  border-color: #e5e5e5;
  border-style: solid;
  border-radius: 2px;
  text-align: left;
}

/* Lists within .content */
.content ul {
  list-style: square;
}
.content ul > li {
  color: #222;
  margin: 5px 0;
}
.content ul > li > a {
  text-decoration: none;
  color: #00e;
  font-weight: normal;
}

.breadcrumb {
  min-height: 16px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
}

.breadcrumb > a {
  font-weight: normal;
  color: #00e;
  text-decoration: none;
}
.breadcrumb > a:hover {
  text-decoration: underline;
}
.breadcrumb > .current-page {
  color: #222;
  font-weight: bold;
}

.r-side {
  margin-top: 0px;
  margin-left: auto;
  margin-right: 0px;
  background-color: #fff;
  border: 1px;
  border-color: #e5e5e5;
  border-style: solid;
  border-radius: 2px;
  width: 25%;
  padding: 10px;
  color: #222;
}

.footer {
  background-color: #222;
  width: 100%;
  height: 80px;
  position: static;
  border: 1px;
  border-width: 1px 0 0 0;
  border-color: #e5e5e5;
  border-style: solid;
}
