<header id="header">
  <a tabindex=1 href="/"><img id="logo" src="/themes/custom/lslater_net/resources/images/tux-logo.png" alt="Tux Logo"></a>
  <div class="right-menu-container">
    <input tabindex=3 type='checkbox' id='right-menu-toggle'>
    <label id="burger-menu" for='right-menu-toggle'>
      <div></div>
      <div></div>
      <div></div>
    </label>
    <div class="right-menu">
      <div id='account-section'>
        <label for='account-toggle'>You are not logged in<span style='margin-left: 3px;' class='fa fa-angle-down'></span></label>
        <input type='checkbox' id='account-toggle'>
        <input type='text' placeholder='Username' />
        <input type='password' placeholder='Password' />
        <span><input type='button' class='button' value='Login'/><a id='register' href='/account/register/'>Register an account</a></span>
      </div>
      <nav>
        <ul id="nav" class="navbar">
          <li class='nav-button'>
            <a class='nav-link' href='".$value."'>Menu link</a>
          </li>
          <li class='nav-dropdown'>
            <input type='checkbox' id='checkbox-toggle'>
            <label for='checkbox-toggle'>
              Submenu
              <span style='margin-left: 3px;' class='fa fa-angle-down'></span>
            </label>
            <ul>
              <li>
                <a class='dropdown-button' href='$value1'>Submenu link</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <form class='search-form'>
    <input tabindex=2 class='search-bar' type="text" placeholder="Search...">
    <input tabindex=2 id="search-button" type="button"/>
  </form>
</header>